.text-big-header {
  font-size: 7rem;
  line-height: 100%;
}

.text-header {
  font-size: 6rem;
  line-height: 100%;
}

.text-title {
  font-weight: 900;
  font-size: 4rem;
  line-height: 111%;
}

.text-title-v2 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 100%;
}

.text-subtitle {
  font-size: 3rem;
  line-height: 100%;
  font-weight: 500;
}

.text-subtitle-v2 {
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 800;
}

.text-subtitle-v2 > small {
  display: inline-block;
  padding-top: 0.7em;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 500;
}

.text-paragraph {
  font-size: 2rem;
  line-height: 111%;
  font-style: normal;
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.program-page-container h2 {
  font-weight: bold;
  font-size: 5rem;
}

.privacy-policy h2 {
  font-weight: bold;
  font-size: 5rem;
}

.terms-and-conditions h2 {
  font-weight: bold;
  font-size: 5rem;
}

.terms-and-conditions h3 {
  font-weight: bold;
  font-size: 3rem;
}

.program-page-container .schedule {
  font-size: 36px;
  line-height: 111%;
}

.pic-size {
  width: 25vw;
  height: auto;
}

#speaker-name {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
}

#about-the-talk {
  font-family: Alegreya Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 103%;
}

#speaker-description {
  font-family: Alegreya Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 100%;
}

@media (min-width: 100px) and (max-width: 980px) {
  /*mobile*/
  .text-big-header {
    font-size: 5rem;
    line-height: 111%;
  }

  .text-paragraph {
    font-size: 1.8rem;
    line-height: 100%;
  }

  .text-title {
    font-weight: 900;
    font-size: 2rem;
    line-height: 111%;
  }

  .text-title-v2 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 100%;
  }

  .text-header {
    font-size: 4rem;
    line-height: 100%;
    text-align: left;
  }

  .text-subtitle {
    font-size: 3rem;
    line-height: 100%;
  }

  .text-subtitle-v2 {
    font-size: 1.5rem;
    line-height: 100%;
    /* font-weight: 800; */
  }

  .text-subtitle-v2 > small {
    display: inline-block;
    padding-top: 0.7em;
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 500;
  }

  .navbar-text {
    font-size: 1.4rem;
    line-height: 100%;
  }

  .pic-size {
    width: 100vw;
    height: auto;
  }

  .mobile-mb {
    margin-bottom: 6rem;
  }
}
