.container {
  padding: 0 20rem;
  position: relative;
}

.red-container  {
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  margin-top: 1rem;
  background-color: #E66453;
}

.hero-info {
  width: 50%;
}

.formula-container {
  height: 70vh;
}

.formula-container img {
  min-width: 40rem;
  width: 30vw;
  height: auto;
}

.blue-container {
  height: 80vh;
  background-color: #104253;
}

.blue-container .program-info {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.program-info .next-sesh{
  width: 90vw;
  display: flex;
  justify-content: flex-start;
}

.blue-container .program-info .program-section .ind{
  width: 25vw;
}

.blue-container .program-info .program-section {
  width: 25vw;
}

.blue-container .color-container .container .center .program-screen{
  height: 200vh;
}

.image-row{
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.image-row .speaker-info{
  width: 25vw;
}

.pricing-container {
  height: 60vh;
}

.program-page-container{
  height: 60vh;
}

.princing-values {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}



.yellow-container {
  height: 40vh;
  background: #CEC238;
}

.contributor-info {
  align-items: flex-start;
}

.team-container {
  height: 90vh;
}

.team-container h4, .team-container img {
  align-self: flex-start;
}

.team-container img {
  width: 20rem;
  height: auto;
}

.team-photo img {
  width: 30vw;
  height: auto;
}

.color-container {
  background-blend-mode: overlay;
  background-image: url('../img/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  box-shadow: 0rem -.6rem 3rem rgba(0, 0, 0, 0.25);
}

.hide-on-desktop{
  display: none;
}

@media (min-width: 100px) and (max-width: 980px) { /*mobile*/

  .zoom{
    overflow-x: hidden;
  }

  footer{
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 2rem;
    width: 100%;
    margin: 0;
  }

  .footer-all-policy {
    width: 100%;
    display: flex;
    flex-direction: row;
}

  .program-info{
    flex-direction: column;
  }

  .formula-container img {
    min-width: 34rem;
  }

  .buttons .primary-button, .buttons .secondary-button, .buttons .contrast-button {
    width: 12rem;
    height: 3rem;
    padding: 1rem 1rem;
  }

  .hide-on-desktop{
    display: block;
  }

  .hide{
    display: none;
  }

  .blue-container {
    height: 90vh;
  }

  .blue-container .program-info .program-section {
    width: 90vw;
  }

  .container {
    padding: 0 2rem;
  }

  .mb20{
    margin-bottom: 1rem;
  }

  .color-container{
    background-size:auto;
  }

  .red-container {
    flex-direction: column;
  }

  .blue-container {
    flex-direction: column;
  }

  .red-container img{
    width: 20rem;
  }

  .team-photo{
    width: 100%;
  }

  .container img{
    max-width: 100%;
  }

  #difmargin{
    margin-bottom: 0rem;
  }

  #dif-start{
    width: 100vw;
  }

  #jek-logo{
    width: 20rem;
  }

  .yellow-container {
    flex-direction: column;
  }

  .hero-info {
    width: 100%;
  }

  .hero-info p {
    display: none;
  }
}
