.container {
  padding: 0 20rem;
}

.red-container  {
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
  margin-top: 1rem;
  background-color: #E66453;
}

.hero-info {
  width: 50%;
}

.formula-container {
  height: 70vh;
}

.formula-container img {
  min-width: 40rem;
  width: 30vw;
  height: auto;
}

.blue-container {
  height: 80vh;
  background-color: #104253;
}

.blue-container .program-info {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.blue-container .program-info .program-section {
  width: 25vw;
}

.pricing-container {
  height: 60vh;
}

.princing-values {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}

.yellow-container {
  height: 40vh;
  background: #CEC238;
}

.contributor-info {
  align-items: flex-start;
}

.team-container {
  height: 90vh;
}

.team-container h4, .team-container img {
  align-self: flex-start;
}

.team-container img {
  width: 20rem;
  height: auto;
}

.team-photo img {
  min-width: 45rem;
  width: 30vw;
  height: auto;
}

.color-container {
  background-image: url('../img/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 2rem;
  box-shadow: 0rem -.6rem 3rem rgba(0, 0, 0, 0.25);
}

@media (max-width: 980px) { /*mobile*/
  .container {
    padding: 0 2rem;
  }

  .red-container {
    flex-direction: column;
  }

  .hero-info {
    width: 100%;
  }

  .hero-info p {
    display: none;
  }
}
